/* CSS Reset Cuz I guess that is something that has been recommended */
/* ----------------------------------------------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* End of CSS Reset */
/* ----------------------------------------------------- */


/* Fonts That I am using */
/* ----------------------------------------------------- */
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueLight.eot');
    src: url('../fonts/BebasNeueLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasNeueLight.woff') format('woff'),
        url('../fonts/BebasNeueLight.svg#BebasNeueLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueRegular.eot');
    src: url('../fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasNeueRegular.woff') format('woff'),
        url('../fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Thin.eot');
    src: url('../fonts/BebasNeue-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasNeue-Thin.woff') format('woff'),
        url('../fonts/BebasNeue-Thin.svg#BebasNeue-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueBold.eot');
    src: url('../fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasNeueBold.woff') format('woff'),
        url('../fonts/BebasNeueBold.svg#BebasNeueBold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueBook.eot');
    src: url('../fonts/BebasNeueBook.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasNeueBook.woff') format('woff'),
        url('../fonts/BebasNeueBook.svg#BebasNeueBook') format('svg');
    font-weight: 200;
    font-style: normal;
}
/* End of Fonts */
/* ----------------------------------------------------- */
 

/* General Use CSS Stuff */
/* ----------------------------------------------------------------- */
*{
    margin: 0;
    padding: 0;
    
}

html,body
{
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
    box-sizing: border-box;
}

/* html{
    display: table;
    margin: auto;
} */

body {
    font-family: 'Bebas Neue';
    font-weight: 700;
    color: #000;
    /* max-width: 2000px; */
    background: #464646;
    /* display: table-cell;
    vertical-align: middle; */
}

a {
    color: #fff;
    outline: none !important;
    text-decoration: none !important;
    -webkit-transition: all 225ms ease;
    -moz-transition: all 225ms ease;
    transition: all 225ms ease;
}


/* End of General CSS */
/* ----------------------------------------------------- */


/* Title Page */
/* ----------------------------------------------------- */
header{
    position: relative;
    background: #000;
    height: 100vh;
    color: #fff;
}

header #logo{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
    width: 30%;
}

header .title{
    padding: 0;
    margin: 2px;
    text-align: center;
    font-size: 3vw;

}

header .title h1{
    font-size: 150px;
    margin-top: 0;
}

header #title-words{
    position: relative;
    top: 55vh;
}

/* End of Title Page */
/* ----------------------------------------------------- */




/* About Page */
/* ----------------------------------------------------- */
#about-me{
    background-color: #FAAB18;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    
}

#about-me h1{
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 9vw;
    text-align: center;
}


#about-me .aboutBackground .back{
    font-size: 30vw;
    display: block;
    /* color:rgba(241, 195, 44, 0.5); */
    color:rgba(255,255,255, 0.1);
    font-weight: 300;
    line-height: 85%;
}

#about-me .aboutBackground #engineer{
    font-weight: 700;
    line-height: 60%;
    margin-top: 3%;

}

/* #about-me .aboutBackground #execute{
    padding-bottom: 20px;

} */


#about-me .info{
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    font-size: 1.5vw;
}

#about-me .about{
    text-align: center;
}


    /* Skills Section */
    /* ----------------------------------------------------- */
    #about-me #skills{
        background: rgba(150, 149, 149, 0.3);
        width: 100%;
        height: 50%;
        bottom: 0;
        left: 0;
        position: absolute;
    }

    .skill-list li{
        float: left;
        width: 40%;
        margin: 5%;
        list-style-type: none;
    }

    .skill .container{
        height: 5px;
        width: 100%;
        background-color: #8d8d8d;
        margin: 50px 0;
    }

    .container .skl{
        height: 5px;
        width: 65%;
        -webkit-box-shadow:
            inset 0 0 1px #fff,
            0px 0px 1px 1px rgba(250, 173, 8, 0.3);
        -moz-box-shadow:
            inset 0 0 1px #fff,
            0px 0px 1px 1px rgba(250, 173, 8, 0.3);
        box-shadow:
            inset 0 0 1px #fff,
            0px 0px 1px 1px rgba(250, 173, 8, 0.3);
    }


    .container #java{
        background-color: #f3960a;
        width: 70%;
    }
    .container #c{
        background-color: #11d6ec;
        width: 50%;
        box-shadow: none;
    }
    .container #javascript{
        background-color: #f3960a;
        width: 50%;
    }
    .container #perl{
        background-color: #11d6ec;
        width: 30%;
        box-shadow: none;
    }
    .container #html-css{
        background-color: #f3960a;
        width: 60%;
    }
    .container #photoshop{
        background-color: #f3960a;
        width: 65%;
    }
    .container #illustrator{
        background-color: #11d6ec;
        width: 45%;
        box-shadow: none;
    }
    .container #after-effects{
        background-color: #f3960a;
        width: 30%;
    }
    .container #nx{
        background-color: #11d6ec;
        width: 45%;
        box-shadow: none;
    }
    .container #blender{
        background-color: #f3960a;
        width: 45%;
    }
    /* End of Skills Section */
    /* ----------------------------------------------------- */


/* End of About page */
/* ----------------------------------------------------- */


/* Progress Page */
/* ----------------------------------------------------- */
#progress{
    background-color: #222;
    position: relative;
    width: 100%;
}

#progress .title{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#progress .title h1{
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 9vw;
    text-align: center;
}
#progress .prog{
    color: #fff;
    font-size: 1.5vw;
    text-align: left;
}


#progress .projects{
    position: absolute;
    top: 10%;
    left: 30%;
}

/* #progress .projects{
    position: relative;
    top: -400px;
    margin-bottom: -30vh;
} */

#progress .project{
    display: grid;
    padding: 5px;
    margin: 10px 0;
    color: #000;
    background-color: rgba(255,255,255,.85);
    border: #000 solid 1px;
    width: 30vw;
    height: 5vw;
    text-align: center;  
    font-size: 1.5vw; 
}


/* End of Progress Page */
/* ----------------------------------------------------- */


/* Contact Page */
/* ----------------------------------------------------- */
#contact{
    background-color: #33C5F3;
    position: relative;
}

#contact p{
    color: #fff;
}

#contact .intro{
    padding-left: 25px;
    line-height: 90%;
}

#contact #lets{
    font-size: 12vw;
    padding-top: 20px;
}

#contact #just{
    font-size: 7vw;
}

#contact .email{
    font-size: 15vw;
    text-align: right;
    padding-right: 5%;
    line-height: 90%;
}
/* End of Contact Page */
/* ----------------------------------------------------- */



/* Footer */
/* ----------------------------------------------------- */
footer{ 
    padding: 5px 0;
    position: relative;   
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 3.5vw;

}

footer #github:hover{
    color: #e5ad31;
}

footer #linkedin:hover{
    color: #77c0f1;
}

footer p{
    display: inline;
    padding: 10px 0;
}

footer span{
    padding: 0 .5%;
}

footer .smile{
    padding: 0;
    margin: 0;
}

footer .thanks{
    padding-right: 0;
    margin-right: 0;
}

/* End of Footer */
/* ----------------------------------------------------- */



/* Media Queries */
/* ----------------------------------------------------- */
/* @media only screen and (max-width: 1000px) {
    header{
        height: 60vh;
    }
    #logo{
        top: 100px;
        left: 10px;
        margin-right: 0px;
        /* padding: 0; * /
        transform: translate(0,0); 
    }

    #title-words{
        position: relative;
        text-align: center;
        top: 100px;
        left: 80px;
    }

    #title-words h1{
        font-size: 8vw;
    }
} */

@media only screen and (max-width: 700px) {
    header{
        height: 30vh;
    }
    #logo{
        top: 100px;
        left: 10px;
        margin-right: 0px;
        /* padding: 0; */
        transform: translate(0,0); 
    }

    #title-words{
        position: relative;
        text-align: center;
        top: 100px;
        left: 80px;
    }

    #title-words h1{
        font-size: 8vw;
    }
}

/* @media only screen and (max-width: 600px) {
    #progress .project{
        height: 40px;
    }

} */

/* End of Media Queries */
/* ----------------------------------------------------- */
