/* CSS Reset Cuz I guess that is something that has been recommended */
/* ----------------------------------------------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of CSS Reset */
/* ----------------------------------------------------- */


/* Fonts That I am using */
/* ----------------------------------------------------- */
@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeueLight.eot');
    src: url('BebasNeueLight.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueLight.woff') format('woff'),
        url('BebasNeueLight.svg#BebasNeueLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeueRegular.eot');
    src: url('BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueRegular.woff') format('woff'),
        url('BebasNeueRegular.svg#BebasNeueRegular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeue-Thin.eot');
    src: url('BebasNeue-Thin.eot?#iefix') format('embedded-opentype'),
        url('BebasNeue-Thin.woff') format('woff'),
        url('BebasNeue-Thin.svg#BebasNeue-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeueBold.eot');
    src: url('BebasNeueBold.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueBold.woff') format('woff'),
        url('BebasNeueBold.svg#BebasNeueBold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeueBook.eot');
    src: url('BebasNeueBook.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueBook.woff') format('woff'),
        url('BebasNeueBook.svg#BebasNeueBook') format('svg');
    font-weight: 200;
    font-style: normal;
}
/* End of Fonts */
/* ----------------------------------------------------- */
 

/* General Use CSS Stuff */
/* ----------------------------------------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue';
    font-weight: 700;
    color: #000;
}

a {
    color: #ff455f;
    outline: none !important;
    text-decoration: none !important;
    -webkit-transition: all 225ms ease;
    -moz-transition: all 225ms ease;
    transition: all 225ms ease;
}
a:hover, a:focus {
    color: #0e1832;
}

/* End of General CSS */
/* ----------------------------------------------------- */


/* Title Page */
/* ----------------------------------------------------- */
header{
    background: #000;
    height: 100vh;
    color: #fff;
}

#logo{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
    width: 30%;
}

.title{
    padding: 0;
    margin: 2px;
    text-align: center;
    font-size: 3vw;

}

.title h1{
    font-size: 150px;
    margin-top: 0;
}

#title-words{
    position: relative;
    top: 55vh;
}

/* End of Title Page */
/* ----------------------------------------------------- */




/* About Page */
/* ----------------------------------------------------- */
#about-me{
    background-color: #FAAB18;
    margin: 0;
    padding: 0;
    position: relative;
    
}

#about-me h1{
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 9vw;
    position: absolute;
    top: 0;
    left: 39%;


}

#about-me .aboutBackground .back{
    font-size: 30vw;
    display: block;
    color:rgba(241, 195, 44, 0.5);
    font-weight: 300;
    line-height: 73%;
}

#about-me .aboutBackground #engineer{
    font-weight: 700;
    line-height: 60%;
    margin-top: 3%;

}

/* #about-me .aboutBackground #execute{
    padding-bottom: 20px;

} */


#about-me .info{
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
}

#about-me .about{
    text-align: center;
}

/* End of About page */
/* ----------------------------------------------------- */


/* Progress Page */
/* ----------------------------------------------------- */
#progress{
    background-color: #222;
    position: relative;
}

#progress .title{
    position: absolute;
    top: 0;
    left: 0;
}

#progress .prog{
    color: #fff;
    font-size: 1.5vw;
    text-align: left;
}


#progress .prog h1{
    font-size: 8vw;
}

#progress .projects{
    position: absolute;
    top: 10%;
    left: 30%;
}

#progress .project{
    display: grid;
    padding-top: 30px;
    margin: 10px 0;
    color: #000;
    background-color: rgba(255,255,255,.85);
    border: #000 solid 1px;
    width: 30vw;
    height: 10vh;
    text-align: center;   
}

/* End of Progress Page */
/* ----------------------------------------------------- */


/* Contact Page */
/* ----------------------------------------------------- */
#contact{
    background-color: #33C5F3;
}

#contact p{
    /* font-size: 12vw; */
    text-align: left;
    color: #fff;
    z-index: 100;
}

#contact .intro{
    font-size: 8vw;
    padding-left: 25px
}

#contact .email{
    font-size: 14vw;
    text-align: right;
    padding-right: 80px;
}
/* End of Contact Page */
/* ----------------------------------------------------- */



/* Footer */
/* ----------------------------------------------------- */
footer{    
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 3.5vw;
}

/* End of Footer */
/* ----------------------------------------------------- */



/* Media Queries */
/* ----------------------------------------------------- */
@media only screen and (max-width: 700px) {
    header{
        height: 300px;
    }
    #logo{
        top: 100px;
        left: 10px;
        margin-right: 0px;
        /* padding: 0; */
        transform: translate(0,0); 
    }

    #title-words{
        position: relative;
        text-align: center;
        top: 100px;
        left: 80px;
    }

    #title-words h1{
        font-size: 8vw;
    }
}

/* End of Media Queries */
/* ----------------------------------------------------- */










/* p {
    color: #4A5666;
    font-size: 20px;
    line-height: 34px;
    margin: 0 0 30px;
    font-weight: 400;
}

body{
    color: #fff;
    text-align: center;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
 }

header{
    /* background-image: url('img/headshot2.png'); * /
    background-color: #000;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    /* position: absolute; * /
    padding: 0;
    margin: 0;
    height:100vh;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0, 20px;  * /
}

#about-me{
    padding:0;
    margin: 0;
    background: #ffa500;
    /* background-size: 500px 500px;
    height: 100vh;* /
}

/* .back{
    font-family: 'Bebas Neue';
    text-align: justify;
    font-size: calc(70vw /3);
    text-justify: left;
    color: rgba(255,255,255,.1);
    z-index: -1;
} * /

#background-words{
    /* width: 100%;
    height: 100%; * /
    z-index: -1;
}

#about-me #background-words {
    /* color: rgba(46, 0, 145, 1); * /
    color: rgba(255,255,255,.1);
    position: absolute;
    right: 0;
    bottom: -40px;
    text-align: right;
    font-size: 554px;
    line-height: 73%;
    font-weight: 700;
    opacity: 0.5;
    z-index: 888888;
    font-weight: 200;
}
#about-me #background-words span {
    display: block;
    letter-spacing: -0.04em;
}

#design{
    padding-top: 0px;
    padding-bottom: 0px;
    margin: -100px 0 !important;
}

#engineer{
    padding-top: 0px;
    padding-bottom: 0px;
    margin: -100px 0;
    font-weight: 1000;
}

#execute{
    padding-top: 0px;
    padding-bottom: 0px;
    margin: -100px 0;
}

/* .back #engineer{
    font-weight: 50em;
} * /
#progress{
    background: #333;
    height: 100vh;

    /* display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%; * /
}

#about{
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.anim{
    position: relative;
}

.projects{
    display: grid;
    z-index: 10;
    color: black;
    background-color: white;
    height: 80px;
    box-shadow: #000;
    border: #000 solid 1px;
}



#contact{
    background: #28e6f0;
}

footer{
    background:#000;
}

a{
    text-decoration: none;
}

#logo {
    width: 400px;
    height: 400px;
}


.anim, .anim svg {
    position: relative;
    width: 100%;
    height: 100%;
}
.anim path {
    stroke-width: 2;
} */



/* Media Queries */

/* @media only screen and (max-width: 1490px) {
    .back{
        font-size: 20em;
    }
} */