body{
    background: #333;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

a:hover{
    color: #fff;
}

a #about{
    transform: rotate(90deg);
}